<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TrellTeam - Login</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/src/css/Board.css">
        <script src="/src/js/bundles/BoardBundle.js"></script>
    </head>

    <body>
        <div class="container mx-auto">
            <h1 class="display-1"><strong>Trell Team</strong></h1>
            <hr>

            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <ul class="nav navbar-nav me-auto">
                            <li><a class="nav-link" aria-current="page" href="MainPage.html">Home</a></li>
                            <li><a class="nav-link" href="Organisation.html">Organisation</a></li>
                            <li><a class="nav-link" href="AccountDetails.html">Account details</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right" id="BoardsLinks">
                            <li><a class="nav-link" href="Login.html">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Admin Navbar -->
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class="container-fluid" id="adminNavBar">

                </div>
            </nav>
            <div class="announcer justify-content-center d-flex" id="errorAlertPlaceholder"></div><br>

            <form id="BoardsForm">
                <div id="boards">

                </div>
            </form>
        </div>

        <script src="/src/js/page_scripts/Board.js" type="text/javascript"></script>
        <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </body>
</html>