<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TrellTeam - Login</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/src/css/Login.css">
        <script src="/src/js/bundles/LoginBundle.js"></script>
    </head>

    <body>
        <div class="container mx-auto">
            <h1 class="display-1"><strong>Trell Team</strong></h1>
            <hr>
            <div class="announcer justify-content-center d-flex" id="errorAlertPlaceholder"></div><br>

            <form id="LoginForm">
                <div class="row">
                    <div class="col-12 justify-content-center d-flex">
                        <div class="card">
                            <div class="card-header text-white">Login</div>
                            <div class="card-body">
                                <div class="input-group mb-3">
                                    <span class="input-group-text text-white span" id="basic-addon3">Username</span>
                                    <input type="text" class="form-control" id="username" aria-describedby="basic-addon3" placeholder="Input username">
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text text-white span" id="basic-addon3">Password</span>
                                    <input type="password" class="form-control" id="password" aria-describedby="basic-addon3" placeholder="Input password">
                                </div>
                            </div>
                        </div>
                    </div>
                </div><br>

                <div class="justify-content-center d-flex">
                    <input class="btn btn-secondary btn-lg p-2" type="button" value="Return" id="Return">
                    <input class="btn btn-primary btn-lg p-2" type="button" value="Login" id="Login">
                </div>
            </form>
        </div>

        <script src="/src/js/page_scripts/Login.js" type="text/javascript"></script>
        <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </body>
</html>