<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TrellTeam - Login</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
        <script src="../js/bundles/LoginBundle.js"></script>
    </head>

    <body>
        <div class="container">
            <h1>Trell Team</h1>

            <p name="error" style="color: red"></p>
            <form id="LoginForm">
                <label for="username">Username:</label>
                <input type="text" id="username" placeholder="Username">

                <label for="password">Password:</label>
                <input type="password" id="password" placeholder="Password">

                <input type="button" value="Login" id="Login">
            </form>

            <form id="ReturnForm" action="Welcome.html" method="post">
                <input type="submit" value="Return" id="Return">
            </form>
        </div>

        <script>
            document.getElementById("Login").addEventListener('click', async function (e) {
                const login = window.executeLogin;
                const verifyCredentials = window.verifyCredentials;

                const username = document.getElementById('username').value;
                const password = document.getElementById('password').value;

                const form = document.getElementById("LoginForm");
                const errorLine = document.getElementsByName("error")[0];

                const isLoggedIn = verifyCredentials(username, password, errorLine) ? await login(username, password) : 1;

                if(isLoggedIn != 200) {
                    e.preventDefault();
                    if(isLoggedIn == 403) errorLine.innerText = "There was an error logging in. Please try again.";
                } else {
                    e.preventDefault();
                    form.action = 'MainPage.html';
                    form.method = 'post';
                    form.submit();
                }
            });
        </script>
        <script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </body>
</html>