<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TrellTeam - Welcome</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/src/css/Welcome.css">
        <script src="/src/js/bundles/WelcomeBundle.js"></script>
    </head>

    <body>
        <div class="container">
            <h1 class="display-1"><strong>Trell Team</strong></h1>
            <hr>

            <h2 class="display-2">Welcome to the best team management application!</h2><br>

            <img src="../images/corporate.jpeg" class="rounded" style="width: 100%" alt="Corporate image">

            <br>
            <p class="display-6 text-center">No objective is too demanding for your team, if you have the right project management tools at hand.</p>
            <p class="lead">   Login with your already existing account, or register your company and start innovating!</p> <br>

            <form name="choice_form">
                <div class="col-2 mx-auto">
                    <input class="btn btn-primary btn-lg" type="button" value="Register" id="Register">
                    <input class="btn btn-primary btn-lg" type="button" value="Login" id="Login">
                </div>
            </form><br>
        </div>
        
        <script src="/src/js/page_scripts/Welcome.js" type="text/javascript"></script>
        <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </body>
</html>