<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TrellTeam</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
        <script src="../js/bundles/WelcomeBundle.js"></script>
    </head>

    <body>
        <div class="container">
            <h1>TrellTeam</h1>

            <h2>Welcome to the best team management application!</h2>

            <form name="choice_form">
                <input type="submit" name="Register" id="Register" value="Register">
                <input type="submit" name="Login" id="Login" value="Login">
            </form>
        </div>
        
        <script>
            var welcome = window.welcome;
            document.getElementById("Login").addEventListener('click', welcome.toLogin);
        </script>
        <script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </body>
</html>