.card-header {
    background-color: #0d6efd;
    text-align: center;
}

.span {
    width: 17%;
    background-color: #0d6efd;
    text-align: center;
}

.lead {
    text-align: center;
}

.display-1 {
    color: #0d6efd;
    text-align: center;
}

hr {
    border: 10px solid;
    border-radius: 5px;
    color: #0d6efd
}

.btn-primary, .btn-secondary {
    width: 100px;
}